.popup__button_inactive {
  color: #000;
  background-color: unset;
  border: 1px solid #000;
  opacity: 0.2;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
